* {
  box-sizing: border-box;
}

body {margin: 0px;}

header {
  border: 6px solid #000000;
}

.entername{
  color: darkblue;
  text-align: center;
}


@keyframes big-small {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.level-easy {
  background-color: green;
  border: 2px solid green;
}
.level-medium {
  background-color: goldenrod;
  border: 2px solid goldenrod;
}
.level-hard {
  background-color: red;
  border: 2px solid red;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 200px;
  height: 75px;
  color: #ffffff;
  text-align: center;
  animation-name: big-small;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 10px 10px grey;
}
